Projeto.Console/Web References/localhost/WebServiceNorthWind.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObeterEmployeerporId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObeterEmployeerporIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObeterEmployeerporIdResult" type="tns:EmployeesDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmployeesDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleOfCourtesy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="HireDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Photo" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportsTo" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PhotoPath" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObeterEmployeerporIdSoapIn">
    <wsdl:part name="parameters" element="tns:ObeterEmployeerporId" />
  </wsdl:message>
  <wsdl:message name="ObeterEmployeerporIdSoapOut">
    <wsdl:part name="parameters" element="tns:ObeterEmployeerporIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceNorthWindSoap">
    <wsdl:operation name="ObeterEmployeerporId">
      <wsdl:input message="tns:ObeterEmployeerporIdSoapIn" />
      <wsdl:output message="tns:ObeterEmployeerporIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceNorthWindSoap" type="tns:WebServiceNorthWindSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObeterEmployeerporId">
      <soap:operation soapAction="http://tempuri.org/ObeterEmployeerporId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceNorthWindSoap12" type="tns:WebServiceNorthWindSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObeterEmployeerporId">
      <soap12:operation soapAction="http://tempuri.org/ObeterEmployeerporId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceNorthWind">
    <wsdl:port name="WebServiceNorthWindSoap" binding="tns:WebServiceNorthWindSoap">
      <soap:address location="https://localhost:44330/WebServiceNorthWind.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceNorthWindSoap12" binding="tns:WebServiceNorthWindSoap12">
      <soap12:address location="https://localhost:44330/WebServiceNorthWind.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>